@use "./helpers/mt-blog-mixin" as *;
@use "../../scss-utils/mt";

@mixin mt-blog() {
    display: block;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;

    strong {
        font-weight: 600;
    }

    a {
        color: #db2828;
        font-weight: inherit;
        border-bottom: 1px solid #3586fc;
    }

    blockquote {
        font-weight: 400;
        background: #eee;
        color: #222;
        padding: 20px;
        margin: 40px 0;
    }

    mt-tilda-accordeon {
        blockquote {
            margin: 20px 0;
        }
    }

    p + p {
        margin-top: 20px;
    }

    .mt-title,
    .mt-blog-title {
        @include mt-blog-title();
    }

    .mt-section,
    .mt-blog-section {
        @include mt-blog-section();
    }

    .mt-subsection,
    .mt-blog-subsection {
        @include mt-blog-subsection();
    }

    .mt-alinea,
    .mt-blog-alinea {
        @include mt-blog-alinea();
    }

    .mt-tag .mt-tag {
        margin: 0;
    }

    .mt-blog-p:last-child {
        margin-bottom: 20px;
    }

    @at-root {
        $selector: mt.distribute-selectors(
            "+",
            ("mt-blog *", ".mt-blog *")
                (
                    mt-blog-subsection,
                    ".mt-blog-subsection",
                    " .mt-subsection",
                    mt-blog-alinea,
                    ".mt-blog-alinea",
                    ".mt-alinea",
                    ".mt-blog-p",
                    ".mt-p"
                )
        );

        #{$selector} {
            margin-top: 20px;
        }

        $selector: mt.distribute-selectors(
            "+",
            ("mt-blog *", ".mt-blog *") (mt-blog-section, ".mt-blog-section", " .mt-section")
        );

        #{$selector} {
            margin-top: 10px;
        }
    }

    @media (max-width: 640px) {
        blockquote.mt-tag {
            font-size: 12px;
        }
    }

    @media (max-width: 1200px) {
        blockquote.mt-tag {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 640px) {
        em {
            font-size: 14px;
        }

        blockquote {
            font-size: 14px;
            margin: 20px 0;
        }
    }
}
