@mixin mt-blog-section() {
    display: block;
}

@mixin mt-blog-subsection() {
    display: flex;

    .mt-subsection-number,
    & > [slot="nb"] {
        font-weight: 600;
        margin-right: 7px;
    }

    .mt-subsection-title,
    [class*="subsection"] > [slot="title"],
    [class*="subsection"] > [slot="header"] {
        font-weight: 600;
    }

    .mt-subsection-content {
        display: flex;
        flex-direction: column;
    }
}

@mixin mt-blog-alinea() {
    display: block;

    .mt-alinea-letter,
    & > [slot="letter"] {
        font-weight: 600;
        margin-right: 7px;
    }
}

@mixin mt-blog-title() {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    color: #949494;
    margin-bottom: 10px;

    b {
        color: black;
        font-weight: 600;
    }

    @media screen and (max-width: 640px) {
        font-size: 17px;
        margin-bottom: 25px;
    }
}
