mt-blog-block {
    display: block;
    padding: 120px 15% 140px;
}

[class*="popup"] mt-blog-block {
    padding: 40px 15% 30px;
}

.lt-md :host {
    mt-blog-block {
        padding: 70px 8% 140px;
    }
}

.lt-sm :host {
    [class*="popup"] mt-blog-block {
        padding: 40px 6% 20px 30px;
    }
}
