mt-list-item {
    // it is here because inside the shadow dom, there is a FOUC (light DOM rendered eagerly)
    > [slot="title"],
    > [slot="header"],
    > .title {
        font-size: var(--mt-h4, 13px);
        color: var(--mt-grey-middle, #787878);
    }

    > [slot="description"],
    > .description {
        font-size: var(--mt-h4, 13px);
        font-weight: 300;
        line-height: 19px;
        color: var(--mt-grey-light, #6b6b6b);
    }
}

.lt-sm mt-lits-item {
    > [slot="description"],
    > .description {
        font-size: var(--mt-h4-sm, 12px);
    }
}
