:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    background-color: #3586fc;
    color: #ffffff;
    text-align: center;
    font-size: 42px;
}

.lt-lg :host {
    font-size: 38px;
}

.lt-md :host {
    height: 170px;
}

.lt-sm :host {
    height: 140px;
    font-size: 30px;
}
